
.home__card {
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/**************Media Queries*************/

@media (max-width: 1198px) { 
    .home__card {
        justify-content: space-around;
    }
}

